
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


/* Main content */
.sidenav .main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.sidenav .active {
  /*background-color: green;*/
/*  color: white;
*/}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.sidenav .dropdown-container {
  display: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.sidenav .fa-caret-down {
  float: right;
  padding-right: 8px;
}

#side-menu {
z-index: 9999;
}
#side-menu * {
    outline: none !important;
}
#side-menu ul{
    list-style: none;
    margin: 0;
}

#side-menu *,
#side-menu *:before,
#side-menu *:after {
    box-sizing: border-box;
}

#side-menu .mobile-menu-top-wrapper {
    margin-bottom: 10px;
    min-height: 60px;
}

/* -- Start Burger animation -- */

#side-menu .burgx,
#side-menu .burgx2,
#side-menu .burgx3 {
    position: absolute;
    width: 30px;
    left: 5px;
    height: 4px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0.1s;
    -o-transition: all 0.4s ease-in-out 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
    margin-top: -12px;
    border-radius: 4px;
}

 

#side-menu .burgx2 {
    margin-top: -1px;
}

#side-menu .burgx3 {
    margin-top: 10px;
}

#side-menu .nav-toggle--true .burgx2 {
        opacity: 0;
}

#side-menu .nav-toggle--true .burgx {
    margin-top: -1px;
    -webkit-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
}

#side-menu .nav-toggle--true .burgx3 {
    margin-top: -1px;
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
}



/* -- End Burger animation -- */

#side-menu .nav-toggle {
    position: relative;
    float: left;
    top: 8px;
    left: 0;
    width: 42px;
    height: 42px;
    padding: 0 !important;
    margin: 0;
    border-radius: 0;
    z-index: 999;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none ;
    text-shadow: none;
    background-image: none;
    border: none;
}   

#side-menu .nav-toggle:after {
/*  content: "";
    width: 1px;
    height: 73px;
    background-color: #ccc;
    position: absolute;
    top: -16px;
    right: -20px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;*/
}
    
#side-menu .nav-toggle.nav-toggle--true {
    position: relative;
    float: left;
    left: 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    
    border: none;
}    

#side-menu .nav-toggle.nav-toggle--true:after {
    content: "";
    width: 1px;
    left: -21px;
    
    position: absolute;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#side-menu nav {
    left: -268px;
}

#side-menu nav {
    top: -2px;
    position: fixed;
    float: left;
    width: 268px;
    height: 100%;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    z-index: 3;
}   
        
#side-menu div#side_totaramenu ul,
#side-menu div#side_custommenu ul {
    list-style: none;
    border: none;
    padding: 0;
    border-top: solid 1px #282727;
    margin: 0;
    width: 0;
    /*overflow: hidden;*/
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
    width: 100%;
    border-radius: 0px;
}

#side-menu div#side_totaramenu ul li,
#side-menu div#side_custommenu ul li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: solid 1px #282727;
    padding: 0;
}

#side-menu div#side_totaramenu ul li:before,
#side-menu div#side_custommenu ul li:before {
    background-image: none;
    display: none;
}

#side-menu .dropdown-item .dropdown-toggle {
    right: 0;
    top: 0;
    width: 44px;
    position: absolute;
    height: 44px;
    padding-left: 44px;
    cursor: pointer;z-index:1;
}

#side-menu .dropdown-item .dropdown-toggle:before {
    content: "";
    position: absolute;
    top: 20px;
    width: 4px;
    right: 22px;
    height: 12px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0.1s;
    -o-transition: all 0.4s ease-in-out 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
    border-radius: 4px;
}

#side-menu .dropdown-item .dropdown-toggle:after {
    content: "";
    position: absolute;
    top: 24px;
    width: 12px;
    right: 18px;
    height: 4px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0.1s;
    -o-transition: all 0.4s ease-in-out 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
    border-radius: 4px;
}

#side-menu nav.user-navigation__visible {
    overflow: scroll;
    left: 0;
    padding-top: 40px;
}   

#side-menu nav.user-navigation__visible div#side_totaramenu >ul,
#side-menu nav.user-navigation__visible div#side_custommenu >ul {
    display: block;
    padding: 0;
    width: 100%;
}

#side-menu nav div#side_totaramenu ul a,
#side-menu nav div#side_custommenu ul a {
    text-decoration: none;
}   

#side-menu nav div#side_totaramenu ul a:hover,
#side-menu nav div#side_custommenu ul a:hover {
    text-decoration: none;
}

#side-menu nav div#side_totaramenu ul li a,
#side-menu nav div#side_custommenu ul li a {
    position: relative;
    float: left;
    width: 100%;
    padding: 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    text-transform: none;
    text-shadow: none;
    text-decoration: none;
}   

#side-menu nav ul li a:hover {
        text-decoration: none;
        cursor: pointer;
    }

#side-menu li.dropdown {
    position: relative;
    /*float: left;*/
    padding: 12px;
    font-weight: 700;
}

#side-menu .menu-background--true {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    top: 0;
    left: 0;
}

#side-menu .dropdown-item.dropdown-toggle {
    position: relative;
    float: left;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    font-weight: 700;
}       

#side-menu .dropdown-item:hover {
    text-decoration: none;
}

#side-menu .dropdown-item .dropdown-toggle:after {
    content: "";
    position: absolute;
    top: 22px;
    
    width: 12px;
    right: 18px;
    height: 4px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0.1s;
    -o-transition: all 0.4s ease-in-out 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
    border-radius: 4px;
}

#side-menu .dropdown-item .dropdown-toggle:before {
    content: "";
    position: absolute;
    top: 18px;
    
    width: 4px;
    right: 22px;
    height: 12px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0.1s;
    -o-transition: all 0.4s ease-in-out 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
    border-radius: 4px;
}

#side-menu .dropdown-item.dropdown-item--true .dropdown-toggle:before {
    opacity: 0;
}

#side-menu nav,
#side-menu nav a {
    text-transform: capitalize;
}

#side-menu nav div#side_totaramenu .dropdown-menu,
#side-menu nav div#side_custommenu .dropdown-menu {
    position: static;
    box-shadow: none;
}

#side-menu nav div#side_totaramenu .dropdown-menu >li:last-child,
#side-menu nav div#side_custommenu .dropdown-menu >li:last-child {
    border-bottom: none;
}

#side-menu nav div#side_totaramenu .dropdown-menu >li a,
#side-menu nav div#side_custommenu .dropdown-menu >li a {
    padding-left: 30px;
}

#side-menu .dropdown-item >.dropdown-menu {
    display: none;
}

#side-menu .dropdown-item.dropdown-item--true >.dropdown-menu {
    display: block;
}

#side-menu .dropdown-menu>li>a:hover {
    background: none;
}
#side-menu .personal-info a{
    text-align: center;
}
#side-menu .personal-info {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;

}

#side-menu .personal-info .logininfo .btn{
    display: none;
}
.hideable{
border: none !important;
}
@media (min-width: 992px){
    #side-menu .navExpand--listSecond {
        box-shadow: none;
        position: static;
    }
}
#side-menu .personal-info a img{
    border-radius: 50%;
}