/*
 * NOTE: This file is not processed by Grunt
 * as the placeholders cause fatal errors. Therefore
 * do not rely on autoprefixing or rtl flipping.
 */

[[enablestyleoverrides:start]]




a, a:link {
    color: [[setting:linkcolor]];
}
a:visited {
    color: [[setting:linkvisitedcolor]];
}
a:hover,
a:focus {
    color: [[setting:linkhovercolor]];
}

a:active {
    color: [[setting:linkhovercolor]];
}

.mform .btn-cancel {
    color: [[setting:linkcolor]];
}

button,
input.submit,
input[type="submit"],
input[type="reset"],
input[type="button"],
#id_buttonfield,
a.link-as-button,
a.btn,
.totara_core__QuickAccess .totara_core__QuickAccess_menu_search-button,
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"],
td.submit input,
.loginbox input[type="submit"],
a.tw-catalogDetailsLink__option_btn,
.tw-selectSearchText__btn,
.tw-catalogManageBtns__btn,
.btn-primary,
.btn-default,
.navsearch input#id_toolbarsearchtext,
.mform .btn-cancel {
    color: [[setting:buttontextcolor]];
    background-color: [[setting:buttoncolor]];
    border-color: [[setting:buttoncolor]];
    border-radius: 0;
}

.navsearch .fa-search {
    color: [[setting:buttontextcolor]];
}

input.submit:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
#id_buttonfield:hover,
button:hover,
a.link-as-button:hover,
a.btn:hover,
.totara_core__QuickAccess .totara_core__QuickAccess_menu_search-button:hover.
input.form-submit:hover,
input#id_submitbutton:hover,
input#id_submitbutton2:hover,
.path-admin .buttons input[type="submit"]:hover,
td.submit input:hover,
.tw-selectSearchText button.tw-selectSearchText__btn:hover,
.tw-catalogManageBtns__btn:active,
.tw-catalogManageBtns__btn:focus,
.tw-catalogManageBtns__btn:hover {
    color:[[setting:buttontextcolorh]];
    background-color: [[setting:buttonbackgroundcolorh]];
}

.totaraNav_prim--side .btn-primary:hover {
    color:[[setting:buttontextcolorh]];
    background-color: [[setting:buttonbackgroundcolorh]];
}

input.submit:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
#id_buttonfield:active,
button:active,
a.link-as-button:active,
a.btn:active,
input.submit:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
#id_buttonfield:focus,
button:focus,
a.link-as-button:focus,
a.btn:focus,
input.submit:active:hover,
input[type="submit"]:active:hover,
input[type="reset"]:active:hover,
input[type="button"]:active:hover,
#id_buttonfield:active:hover,
button:active:hover,
a.link-as-button:active:hover,
a.btn:active:hover,
button:hover,
input.form-submit:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.btn:hover,
.btn:focus,
.btn.focus,
input.form-submit:hover,
input#id_submitbutton:hover,
input#id_submitbutton2:hover,
.path-admin .buttons input[type="submit"]:hover,
td.submit input:hover {
    color:[[setting:buttontextcolorh]];
    background-color: [[setting:buttonbackgroundcolorh]];
}

button.disabled,
input.form-submit.disabled,
input[type="button"].disabled,
input[type="submit"].disabled,
input[type="reset"].disabled,
button[disabled],
input.form-submit[disabled],
input[type="button"][disabled],
input[type="submit"][disabled],
input[type="reset"][disabled] {
    color: [[setting:dbuttontextcolor]];
    background-color:[[setting:dbuttoncolor]];
}

button.disabled:hover,
input.form-submit.disabled:hover,
input[type="button"].disabled:hover,
input[type="submit"].disabled:hover,
input[type="reset"].disabled:hover,
button[disabled]:hover,
input.form-submit[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover,
input[type="reset"][disabled]:hover {
    color: [[setting:dbuttontextcolorh]];
    background-color:[[setting:dbuttonbackgroundcolorh]];
}

/*#page-footer .performanceinfo li,
#page-footer .performanceinfo p {
    color: [[setting:navtextcolor]];
}*/

.ie8 .navbar-inner,
.ie9 .navbar-inner {
    filter: none;
}

body {
    background-color: [[setting:bodybackground]];
}

#region-main {
    background-color: [[setting:contentbackground]];
    border-radius: 4px;
    padding: 20px;
}

body, p, ul, ol, dl, input, textarea {
    color: [[setting:textcolor]];
}

form-defaultinfo, .form-label .form-shortname, .legend {
    color: [[setting:textcolor]];
}

/* Totara menu current item highlight */
.totara-menu > .totara-menu-nav > .totara-menu-nav-list > .totara-menu-nav-item.selected > .totara-menu-nav-item-link {
    box-shadow: inset 0 -3px [[setting:linkcolor]];
}

#page-footer {
    border-top: 3px solid [[setting:linkcolor]];
}


#page-footer .socialnetworkicons p, 
#page-footer .socialnetworkicons a:link,
#page-footer .socialnetworkicons a:visited,
#page-footer .socialnetworkicons a:hover,
#page-footer .socialnetworkicons a:active ,
#page-footer .socialnetworkicons a{
    color: [[setting:footericoncolor]];
}
#page-footer,
#page-footer p, 
#page-footer a:link,
#page-footer a:visited,
#page-footer a:hover,
#page-footer a:active,
#page-footer .block .block-header h2 {
    color: [[setting:footerlinkcolor]];
}
#page-footer .menubar>li>a .ft,
#page-footer .menubar>li,
#page-footer .moodle-core-dragdrop-draghandle{
    color: [[setting:footerlinkcolor]];
}


#page-footer .moodle-actionmenu a:link,
#page-footer .moodle-actionmenu a:visited,
#page-footer .moodle-actionmenu a:hover,
#page-footer .moodle-actionmenu a:active {
    color: #57595b;  /*// FORCE DARK*/
}

#page-footer .popover a:link, #page-footer .popover a:visited, #page-footer .popover a:hover, #page-footer .popover a:active{
    color:[[setting:linkcolor]];
}

.page-footer-poweredby {
    background-color: [[setting:linkcolor]];
}

/*.totara-navbar-container {
    background-color: [[setting:headerbgc]];
}*/

/*.totara-menu-nav-item-link, .totara-menu-nav-list .totara-menu-nav-item .totara-menu-nav-item-link {
    background-color: [[setting:headerbgc]];
}

.totara-menu > .totara-menu-nav > .totara-menu-nav-list > .totara-menu-nav-item.selected > .totara-menu-nav-item-link {
    background-color: [[setting:headerbgc-dark]];
}

.totara-menu-nav-item-link:hover, .totara-menu-nav-item-link:focus, .totara-menu-nav-list .totara-menu-nav-item .totara-menu-nav-item-link:hover, .totara-menu-nav-list .totara-menu-nav-item .totara-menu-nav-item-link:focus, .totara-menu-nav-item.selected .totara-menu-nav-item-link:hover, .totara-menu .totara-menu-nav-list .totara-menu-nav-item .totara-menu-nav-item-link:hover, .totara-menu .totara-menu-nav-list .totara-menu-nav-item .totara-menu-nav-item-link:focus {
    background-color: [[setting:headerbgc-dark]];
}*/

.navbar-site {
    background-color: [[setting:bodybackground]];
}

/*.navbar-site .navbar-collapse, .navbar-default .navbar-form {
    border-color: [[setting:headerbgc]];
}*/

.block.block_calendar_month td.today {
    background-color: [[setting:linkcolor]];
}

.moodle-actionmenu[data-enhanced].show .menu a:hover {
    background-color: [[setting:linkcolor]];
}

/** Navigation text colour **/
.totaraNav_prim--toggleNav a,
.totaraNav_prim--toggleNav a:active,
.totaraNav_prim--toggleNav a:hover,
.totaraNav_prim--toggleNav a:visited,
.totaraNav_prim--side,
.totaraNav_prim--side .usermenu a.toggle-display,
.totaraNav_prim--side .usermenu a.toggle-display:focus,
.totaraNav_prim--side .usermenu a.toggle-display:hover,
.totaraNav_prim--list a,
.totaraNav_prim--list a:active,
.totaraNav_prim--list a:visited,
.totaraNav_prim--list_item_selected .totaraNav_prim--list_item_link:active {
    color: [[setting:headercolor]];
}

.totaraNav_prim--list .navExpand--list a.navExpand--list_item_link {
    color: [[setting:headerdropdowncolor]];
}
.totaraNav_prim--list .navExpand--list a.navExpand--list_item_link:hover {
    color: [[setting:headerdropdowncolorh]];
}
/*.totaraNav_prim--list_item_selected .totaraNav_prim--list_item_link:active, .totaraNav_prim--list_item_selected .totaraNav_prim--list_item_link:hover{
    color: [[setting:navtextcolor]]; 
}*/

/** Navigation background colour **/
/*.totara_core__QuickAccess .totara_core__QuickAccess_menu,
.totaraNav_prim--list .navExpand--list,
.totaraNav_prim {
    background-color: [[setting:headerbgc]];
}*/

/** Navigation active/hover colour **/
/*.totaraNav_prim--toggleNav a:focus,
.totaraNav_prim--toggleNav a:hover,
.totaraNav_prim--side .popover-region .nav-link:focus,
.totaraNav_prim--side .popover-region .nav-link:hover,
.totaraNav_prim--side .usermenu a.toggle-display:focus,
.totaraNav_prim--side .usermenu a.toggle-display:hover,
.totaraNav_prim--list a:focus,
.totaraNav_prim--list a:hover {
    background: [[setting:headerbgc-dark]];
}*/

#page-login-index #page-content {
    background-color: [[setting:loginboxbackground]];
}

#page-login-index .nonfull .loginbox.onecolumn {
    background-color: [[setting:loginboxbackground]];
}

#page-footer {
    background-color: [[setting:footerbackground]];
}

#page-footer a {
    color: [[setting:footerlinkcolor]];
}

#page-login-index {
    background-color: [[setting:loginpagebackgroundcolor]];
}

p.slide-title {
    color: [[setting:slidertitlecolor]];
}

p.slide-text {
    color: [[setting:slidertextcolor]];
}

h1, h2, h3, h4, h5, h6, .format-tiles ul.tiles .tile h3 {
    color: [[setting:headingcolor]];
}

@media (min-width: 768px) {
    .totara-menu-nav-item .totara-menu-nav-item .totara-menu-nav-item-link {
        background-color: #F0F2F4;
    }
    .totara-menu-nav-item.selected .totara-menu-nav-item.selected .totara-menu-nav-item-link:hover, .totara-menu .totara-menu-nav-item .totara-menu-nav-item .totara-menu-nav-item-link:hover {
        background-color: #DDE1E5;
    }
}

@media (min-width: 992px) {
    /** Navigation focus colour **/
    /*.totaraNav--list_item_expanded > a.totaraNav_prim--list_item_link {
        background: [[setting:headerbgc-dark-perc]];
    }*/

    /** Navigation selected colour **/
    /* {
        color: [[setting:buttoncolor-readable-text]];
    }*/

    a.totaraNav_sub--list_item_link {
        color: #3d444b;
    }
}




#side-menu .burgx,
#side-menu .burgx2,
#side-menu .burgx3 {
    background-color: [[setting:sidebarburgerc]];
}

#side-menu .nav-toggle:hover .burgx3,
#side-menu .nav-toggle:hover .burgx2,
#side-menu .nav-toggle:hover .burgx {
    background-color: [[setting:sidebarburgerch]];
}
#side-menu .nav-toggle--true:hover .burgx3,
#side-menu .nav-toggle--true:hover .burgx {
    background-color: [[setting:sidebarburgerch]];
}

#side-menu .nav-toggle--true .burgx3,
#side-menu .nav-toggle--true .burgx {
    background-color: [[setting:sidebarburgerco]];
}
#side-menu nav {
    background-color: [[setting:sidebarbgc]];
}
#side-menu .dropdown-item .dropdown-toggle:before,
#side-menu .dropdown-item .dropdown-toggle:after{
    background-color: [[setting:sidebarburgerc]];
}
#side-menu a,
#side-menu nav,
#side-menu nav a,
#side-menu nav div#side_totaramenu ul li a,
#side-menu nav div#side_custommenu ul li a,
#side-menu .block .block-header h2,
#side-menu .block .block-content,
#side-menu .block .block-content p {
    color: [[setting:sidebartextc]];
}
#side-menu .block .block-control-actions {
    box-shadow: inset 0 -3px [[setting:sidebartextc]];
}
.editing #side-menu .block {
    border-color: [[setting:sidebartextc]];
}
#side-menu .block .block-control-actions > ul > li .toggle-display, #side-menu .block .block-control-actions > ul > li .editing_move, #side-menu .block .block-control-actions > ul > li .moodle-core-dragdrop-draghandle {
    border-left: 1px solid [[setting:sidebartextc]];
}
#side-menu .custom_totaraNav_prim--list_item_hasChildren > .totaraNav_prim--list_item_link .arror-up {
    border-top: 7px solid [[setting:sidebartextc]];
}
#side-menu .custom_totaraNav_prim--list_item_hasChildren.custom_totaraNav_prim--list_item_selected > .totaraNav_prim--list_item_link .arror-up {
    border-top: 7px solid [[setting:sidebaritemtextca]];
}
#side-menu .custom_totaraNav_prim--list_item_hasChildren > .totaraNav_prim--list_item_link.active .arror-up {
    border-top: 7px solid [[setting:sidebaritemtextca]];
}
#side-menu .custom_totaraNav_prim--list_item_hasChildren > .totaraNav_prim--list_item_link:hover .arror-up {
    border-top: 7px solid [[setting:sidebaritemtextch]];
}
#side-menu .moodle-core-dragdrop-draghandle {
    color: [[setting:sidebartextc]];
}
#side-menu .block .block-control-actions a, #side-menu .block .block-control-actions, #side-menu .popover a {
    color: [[setting:sidebartextc]];
}
#side-menu .fa-caret-down::before {
    color: [[setting:sidebartextc]];
}
#side-menu a:hover,
#side-menu nav a:hover,
#side-menu nav div#side_totaramenu ul li a:hover,
#side-menu nav div#side_custommenu ul li a:hover {
    background-color: [[setting:sidebaritemch]];
    color: [[setting:sidebaritemtextch]];
}

#side-menu .totaraNav_prim--list_item_link.active,
#side-menu .custom_totaraNav_prim--list_item_selected {
    background: [[setting:sidebaritemca]];
}

#side-menu .navExpand--list_item_selected {
    background: [[setting:sidebaritemcs]];
}

#side-menu a.totaraNav_prim--list_item_link.active,
#side-menu a.custom_totaraNav_prim--list_item_selected,
#side-menu .custom_totaraNav_prim--list_item_selected > a {
    color: [[setting:sidebaritemtextca]];
}
#side-menu a.totaraNav_prim--list_item_link.active:hover,
#side-menu .custom_totaraNav_prim--list_item_selected > a:hover {
    color: [[setting:sidebaritemtextch]];
}

#side-menu .navExpand--list_item_selected a {
    color: [[setting:sidebaritemtextcs]];
}

.totaraNav .ethinknav.ethinktop {
    background-color: [[setting:headerbackgroundcolortop]];
}

.totaraNav .ethinknav.ethinkmiddle {
    background-color: [[setting:headerbackgroundcolormiddle]];
}

.totaraNav .ethinknav.ethinkbottom {
    background-color: [[setting:headerbackgroundcolorbottom]];
}

p.slide-text {
    background: [[setting:slidertextbackgroundcolor]];
}

.totaraNav_prim--list_item_selected a.totaraNav_prim--list_item_link {
    background-color: [[setting:headeritembackgroundcolora]];
    color: [[setting:headeritemcolora]];
}

.totaraNav--list_item_expanded>a.totaraNav_prim--list_item_link {
    background: transparent;
}

.totaraNav_prim--list a:hover,
.totaraNav_prim--side .popover-region .nav-link:hover,
.totaraNav_prim--side .usermenu a.toggle-display:hover,
.totaraNav_prim--list_item_link:hover {
    color: [[setting:headeritemcolorh]];
    background-color: [[setting:headeritembackgroundcolorh]];
}

.navExpand--list {
    background: [[setting:headerbackgroundcolorexpandlist]];
}

.totara_core__QuickAccess .totara_core__QuickAccess_menu {
    background-color: [[setting:headeradminpanelbackgroundcolor]];
}

.totara_core__QuickAccess .totara_core__QuickAccess_menu,
.totara_core__QuickAccess .totara_core__QuickAccess_menu h3 {
    color: [[setting:headeradminpaneltextcolor]];
}

.totara_core__QuickAccess .totara_core__QuickAccess_group-list li a,
.totara_core__QuickAccess .totara_core__QuickAccess_footer > a {
    color: [[setting:headeradminpanellinkcolor]];
}

#side-menu .nav-toggle {
    background-color: [[setting:sidebarburgerbackgroundc]]
}

#side-menu .nav-toggle:hover {
    background-color: [[setting:sidebarburgerbackgroundch]]
}

.mform legend a {
    color:[[setting:linkcolor]];
}

.mform legend a:hover {
    color: [[setting:linkhovercolor]];
}

.addBlock--trigger, .addBlock--trigger:active:hover, .addBlock--trigger:focus, .addBlock--trigger:hover {
    background: [[setting:linkcolor]];
    border-color: [[setting:linkcolor]];
}

.moodle-core-dragdrop-draghandle {
    color: [[setting:linkcolor]];
}

.nav-tabs>li.active:first-child>a, .nav-tabs>li.active:first-child>a:hover, .nav-tabs>li.active:first-child>a:focus {
    box-shadow: 0 -2px [[setting:linkcolor]];
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .box.message .messagearea .messagehistory .messagehistorytype span.visible {
    border-top-color:  [[setting:linkcolor]];
}

.dndupload-arrow {
    color: [[setting:linkcolor]];
}

input.form-submit:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, td.submit input:focus, input.form-submit.focus, input#id_submitbutton.focus, input#id_submitbutton2.focus, .path-admin .buttons input[type="submit"].focus, td.submit input.focus {
    color: [[setting:buttontextcolor]];
    background-color: [[setting:buttoncolor]];
}

input.form-submit:active, input#id_submitbutton:active, input#id_submitbutton2:active, .path-admin .buttons input[type="submit"]:active, td.submit input:active, input.form-submit.active, input#id_submitbutton.active, input#id_submitbutton2.active, .path-admin .buttons input[type="submit"].active, td.submit input.active, .open>.dropdown-toggleinput.form-submit, .open>.dropdown-toggleinput#id_submitbutton, .open>.dropdown-toggleinput#id_submitbutton2, .open>.dropdown-toggle.path-admin .buttons input[type="submit"], .open>.dropdown-toggletd.submit input {
    color: [[setting:buttontextcolor]];
    background-color: [[setting:buttoncolor]];
}

button:active:hover, input.form-submit:active:hover, input[type="button"]:active:hover, input[type="submit"]:active:hover, input[type="reset"]:active:hover, button.active:hover, input.form-submit.active:hover, input[type="button"].active:hover, input[type="submit"].active:hover, input[type="reset"].active:hover, .open>.dropdown-togglebutton:hover, .open>.dropdown-toggleinput.form-submit:hover, .open>.dropdown-toggleinput[type="button"]:hover, .open>.dropdown-toggleinput[type="submit"]:hover, .open>.dropdown-toggleinput[type="reset"]:hover, button:active:focus, input.form-submit:active:focus, input[type="button"]:active:focus, input[type="submit"]:active:focus, input[type="reset"]:active:focus, button.active:focus, input.form-submit.active:focus, input[type="button"].active:focus, input[type="submit"].active:focus, input[type="reset"].active:focus, .open>.dropdown-togglebutton:focus, .open>.dropdown-toggleinput.form-submit:focus, .open>.dropdown-toggleinput[type="button"]:focus, .open>.dropdown-toggleinput[type="submit"]:focus, .open>.dropdown-toggleinput[type="reset"]:focus, button:active.focus, input.form-submit:active.focus, input[type="button"]:active.focus, input[type="submit"]:active.focus, input[type="reset"]:active.focus, button.active.focus, input.form-submit.active.focus, input[type="button"].active.focus, input[type="submit"].active.focus, input[type="reset"].active.focus, .open>.dropdown-togglebutton.focus, .open>.dropdown-toggleinput.form-submit.focus, .open>.dropdown-toggleinput[type="button"].focus, .open>.dropdown-toggleinput[type="submit"].focus, .open>.dropdown-toggleinput[type="reset"].focus {
    color: [[setting:buttontextcolor]];
    background-color: [[setting:buttoncolor]];
}

input.form-submit:active:hover, input#id_submitbutton:active:hover, input#id_submitbutton2:active:hover, .path-admin .buttons input[type="submit"]:active:hover, td.submit input:active:hover, input.form-submit.active:hover, input#id_submitbutton.active:hover, input#id_submitbutton2.active:hover, .path-admin .buttons input[type="submit"].active:hover, td.submit input.active:hover, .open>.dropdown-toggleinput.form-submit:hover, .open>.dropdown-toggleinput#id_submitbutton:hover, .open>.dropdown-toggleinput#id_submitbutton2:hover, .open>.dropdown-toggle.path-admin .buttons input[type="submit"]:hover, .open>.dropdown-toggletd.submit input:hover, input.form-submit:active:focus, input#id_submitbutton:active:focus, input#id_submitbutton2:active:focus, .path-admin .buttons input[type="submit"]:active:focus, td.submit input:active:focus, input.form-submit.active:focus, input#id_submitbutton.active:focus, input#id_submitbutton2.active:focus, .path-admin .buttons input[type="submit"].active:focus, td.submit input.active:focus, .open>.dropdown-toggleinput.form-submit:focus, .open>.dropdown-toggleinput#id_submitbutton:focus, .open>.dropdown-toggleinput#id_submitbutton2:focus, .open>.dropdown-toggle.path-admin .buttons input[type="submit"]:focus, .open>.dropdown-toggletd.submit input:focus, input.form-submit:active.focus, input#id_submitbutton:active.focus, input#id_submitbutton2:active.focus, .path-admin .buttons input[type="submit"]:active.focus, td.submit input:active.focus, input.form-submit.active.focus, input#id_submitbutton.active.focus, input#id_submitbutton2.active.focus, .path-admin .buttons input[type="submit"].active.focus, td.submit input.active.focus, .open>.dropdown-toggleinput.form-submit.focus, .open>.dropdown-toggleinput#id_submitbutton.focus, .open>.dropdown-toggleinput#id_submitbutton2.focus, .open>.dropdown-toggle.path-admin .buttons input[type="submit"].focus, .open>.dropdown-toggletd.submit input.focus {
    color: [[setting:buttontextcolor]];
    background-color: [[setting:buttoncolor]];
}

.popover-region-container {
    background-color: [[setting:headernewsbackgroundcolor]];
    border: 1px solid [[setting:headernewsbackgroundcolor]];
}
.popover-region-toggle::before {
    border-bottom: 10px solid [[setting:headernewsbackgroundcolor]];
}

.popover-region-toggle::after {
    border-bottom: 9px solid [[setting:headernewsbackgroundcolor]];
}

.popover-region-footer-container {
    background-color: [[setting:headernewsbackgroundcolor]];
}

.popover-region-header-text,
.popover-region-messages .content-item-body h3,
.popover-region-messages .content-item-body p,
.content-item-container.notification .content-item-body .notification-message,
.content-item-container .content-item-footer .timestamp,
.content-item-container.unread:hover .timestamp {
    color: [[setting:headernewstextcolor]];
}

.popover-region-container a {
    color: [[setting:headernewslinkcolor]];
}

.content-item-container.unread {
    background-color: [[setting:headernewsunreadbgc]];
}

.content-item-container.unread:hover {
    background-color: [[setting:headernewsunreadbgch]];
}

.popover-region-container .badge {
    background-color: [[setting:headernewsuncountbgc]];
    color: [[setting:headernewsuncountc]];
}

[[enablestyleoverrides:end]]

/** Custom CSS defined via theme settings **/
[[setting:customcss]]
/** END Custom CSS **/





