/* loginpage */

#page-login-index {
    /*background: url(../pix/default-bg-login.png) no-repeat center center fixed;*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page-login-index .totaraNav {
	display: none;
}

#page-login-index #page {
	align-items: flex-end;
	padding-right: 0;
	padding-left: 0;
	max-width: none;
}

#page-login-index #page.right {
    align-items: flex-end;
}

#page-login-index #page.left {
    align-items: flex-start;
}

#page-login-index #page.center {
    align-items: center;
}

#page-login-index #page-content {
    padding-top: 0;
    min-width: 44.7%;
    max-width: 44.7%;
    padding-right: 15px;
    padding-left: 15px;
}

#page-login-index #page-content.loginwithinstructions {
    min-width: 70%;
    max-width: 70%;
}

#page-login-index .full #page-content {
	height: 100%;
    display: flex;
    align-items: center;
}

#page-login-index #page-content.loginwithinstructions .full #page-content {
    /*display: flex;
    align-items: center;*/
}

#page-login-index .nonfull #page-content {
    padding-top: 0;
}

#page-content.loginwithinstructions > .row {
    width: 100%;
    margin: 0;
}

/*#page-login-index #page-content {
    background-color: [[setting:loginboxbackground]];
}*/

#page-login-index #region-main {
    padding: 0;
}

#page-login-index div[role="main"]{
	position: relative;
}

#page-login-index .nonfull #maincontent {
    height: 0;
}

.loginbox.onecolumn {
	border: none;
	border-radius: 0;
	color: #fff;
	/*position: absolute; ostatnitest */
	left: 50%;
	transform: translateX(-50%);
	box-shadow: none;
	padding: 0;
	margin-bottom: 0;
}

#page-login-index .full .loginbox.onecolumn {
    width: 63%;
    background: inherit;
}

#page-login-index .nonfull .loginbox.onecolumn {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

#page-login-index .nonfull .loginbox.onecolumn .loginpanel {
    width: 63%;
    margin: 0 auto;
}

.loginpanel > h2 {
	text-transform: uppercase;
	font-size: 46.27px;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 0;
    color: #fff;
}

.loginpanel > img {
	margin-bottom: 30px;
    max-width: 280px;
}

.loginbox .loginform .form-label {
    display: none;
}

.loginbox .loginform .form-input input[type="text"], .loginbox .loginform .form-input input[type="password"] {
    min-height: 43px;
    color: #000;
    font-size: 18.67px;
    font-weight: 700;
    border-radius: 0;
    border: none;
}

.loginbox .loginform .form-input input[type="text"] {
    margin-bottom: 15px;
}

#username::-webkit-input-placeholder, #password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
#username::-moz-placeholder, #password::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
#username:-ms-input-placeholder, #password:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
#username:-moz-placeholder, #password:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

input[type=checkbox]#rememberusernamechecked {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 1;
}

.subcontent.loginsub .rememberpass label {
    background-image: url(../pix/csscheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subcontent.loginsub .rememberpass label {
    padding-left: 23px;
    height: 18px;
    display: inline-block;
    line-height: 17px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13.23px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    margin-top: 8px;
}

input[type=checkbox]#rememberusernamechecked:checked + label {
    background-position: 0 -18px !important;
}

.loginbox input[type="submit"] {
    margin: 10px 0 0;
    margin-top: 20px;
    min-height: 47px;
    /*color: #fff;*/
    /*background-color: #238A9A;*/
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 1px;
    text-transform: uppercase;
}

.forgetpass {
    margin-top: 20px;
}

.forgetpass > a {
    color: #fff;
}

.ft-state-info {
    color: #00539f !important;
}

.breadcrumb-container .ft-state-info {
    color: #fff !important;
}

.loginbox .desc {
    color: #fff;
}

.loginbox .desc .helptooltip > a .ft-state-info {
    color: #fff !important;
}

#page-login-index .loginbox.twocolumns .loginpanel {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}

#page-login-index #region-main {
    background-color: transparent;
}

#page-login-index #page-content.loginwithinstructions .loginbox.twocolumns .signuppanel {
    width: 50%;
    left: inherit;
}

#page-login-index #page-content.loginwithinstructions .loginbox.twocolumns .loginpanel {
    width: 50%;
}

#page-login-index #page-content.loginwithinstructions .signuppanel h2 {
    color: #fff;
}

#page-login-index #page-content.loginwithinstructions .signuppanel .subcontent, .signuppanel .subcontent p {
    color: #fff;
}

#page-login-index #page-content.loginwithinstructions .twocolumns {
    width: 100%;
    margin-bottom: inherit;
    display: flex;
    align-items: center;
}

@media(max-width: 1370px){
	.loginpanel > h2 {
		font-size: 33px;
		margin-bottom: 20px;
	}
	.loginbox .loginform .form-input input[type="text"], .loginbox .loginform .form-input input[type="password"] {
		font-size: 16px;
		min-height: 35px;
	}
	.loginbox .loginform .form-input input[type="text"] {
		margin-bottom: 10px;
	}
}

@media(max-width: 991px){
	#page-login-index #page-content {
		max-width: 80%;
		min-width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
	}
    #page-login-index #page-content > .row {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
	.loginpanel > img {
		max-width: 140px;
		margin-bottom: 15px;
	}
	.loginpanel > h2 {
		font-size: 28px;
		margin-bottom: 10px;
	}
	.loginbox .loginform .form-input input[type="text"], .loginbox .loginform .form-input input[type="password"] {
		font-size: 14px;
		min-height: 25px;
	}
	.loginbox input[type="submit"] {
    margin-top: 10px;
    min-height: 30px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
	}
    #page-login-index .full .loginbox.onecolumn {
        width: 90%;
    }
    #page-login-index .nonfull .loginbox.onecolumn .loginpanel {
        width: 90%;
    }
    /* with instuctions mobile */
    #page-login-index #page-content.loginwithinstructions {
        min-width: 90%;
        max-width: 90%;
    }
}

@media(max-width: 600px) {
    #page-login-index #page-content.loginwithinstructions .loginbox.twocolumns {
        flex-direction: column;
    }
    #page-login-index #page-content.loginwithinstructions .loginbox.twocolumns .loginpanel, #page-login-index #page-content.loginwithinstructions .loginbox.twocolumns .signuppanel {
        width: 100%;
    }
    .signuppanel > h2 {
        font-size: 23px;
        margin-top: 10px;
    }
}

@media(max-width: 500px) {
    .loginpanel > h2 {
        font-size: 23px;
    }
    #page-login-index #page-content {
        max-width: 90%;
        min-width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* loginpage */

/* frontpage html section */

.section-html {
    display: flex;
}

.section-html .section-html-img {
    width: 45.8%;
}

.section-html .section-html-container {
    width: 54.2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-html .section-html-container-width {
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-html .section-html-title {
    color: #fff;
    font-size: 48px;
    margin-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.section-html .section-html-text {
    color: #fff;
    font-size: 18.67px;
    margin-bottom: 50px;
}

.section-html-button .btn {
    background-color: #fff;
    font-size: 16px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-color: transparent;
}

.section-html-first .section-html-container {
    background-color: #1BB8A6;
}

.section-html-first .section-html-button .btn {
    color: #1BB8A6;
}

.section-html-second .section-html-container {
    background-color: #F38B20;
}

.section-html-second .section-html-button .btn {
    color: #F38B20;
}

@media(max-width: 1550px) {
    .section-html .section-html-container-width {
        width: 70%;
    }
    .section-html .section-html-title {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .section-html .section-html-text {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .section-html-button .btn {
        font-size: 14px;
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 8px;
    }
}

/* frontpage html section */

/* footer */

#page-footer {
  /*background-color: #0B2042;*/
  border-top: 1px solid #bababa;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  margin-top: 0;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page-footer > .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-footer > .container-fluid:before, #page-footer > .container-fluid:after {
  content: none;
}

.scrollBtn > img {
    max-height: 60px;
    max-width: 60px;
}

#page-footer .logininfo {
    font-size: 0;
}

#page-footer .logininfo > .btn {
    display: none;
}

#page-footer .logininfo .usertour {
    font-size: 16px;
}

.footer-container-images {
    align-self: flex-end;
}

ul.socialsnetworkul {
    margin: 0;
    list-style-type: none;
    display: flex;
}

ul.socialsnetworkul li {
    margin-left: 7px;
    margin-right: 7px;
}

ul.socialsnetworkul li i:before {
    font-size: 25px;
}

/* footer */

/* header */

.totaraNav {
    margin-bottom: 0;
}

.totaraNav_prim {
    background: transparent;
}

.totaraNav_prim--side {
    margin-left: 0;
}

/*.totaraNav_prim--list_item_selected a.totaraNav_prim--list_item_link {
    color: #444;
}*/

/*.totaraNav_prim--side .popover-region-messages, .totaraNav_prim--side .popover-region-notifications {
    display: none;
}*/

.totaraNav_prim--side .usermenu .moodle-actionmenu li {
    display: flex;
}

.totaraNav_prim--side .usermenu .moodle-actionmenu li .btn.btn-primary {
    order: 2;
}

.totaraNav_prim--side .langmenu {
    margin: auto 0;
    margin-right: 5px;
}

.totara_core__QuickAccess_menu {
    text-align: left;
}

.totara_core__QuickAccess .totara_core__QuickAccess_footer>a {
    float: left;
}

.totara_core__QuickAccess .totara_core__QuickAccess_menu_search-input {
    background-color: transparent;
    color: #000;
}

#side-menu .custom_totaraNav_prim--list {
    display: none;
}

.ethink_sidebar_nav #side-menu .custom_totaraNav_prim--list {
    display: block;
}

#side-menu .user_pic > a:hover {
    background-color: transparent;
}

#side-menu .navExpand--listSecond .navExpand--list_item_link {
    padding-left: 30px;
}

#side-menu .navExpand--list {
    background: transparent;
}

.jsenabled .usermenu .moodle-actionmenu.show {
    background: transparent;
}

.totara_core__QuickAccess .totara_core__QuickAccess_menu {
    border-top: none;
    z-index: 10;
}

.totara_core__QuickAccess .totara_core__QuickAccess_group-list {
    margin: 0;
    font-weight: normal;
}

.totaraNav_prim > .container-fluid {
    max-width: 100%;
}

.ethinknav > .container-fluid {
    display: flex;
    width: 100%;
}

.ethinkmiddle.ethinknav.fb100 > .container-fluid {
    display: block;
}

/*
.totaraNav_prim > .container-fluid > .container-fluid {
    display: flex;
    flex-wrap: nowrap;
}*/

@media(max-width: 767px){
    .notloggedin .totaraNav_prim--side {
        flex-direction: column;
    }
}

/* header */

/* html editor */

.atto_collapse_button, .atto_collapse_button.highlight , .editor_atto_toolbar button:hover {
    color: #999;
}

.editor_atto .fa-caret-down:before {
    color: #999;
}

/* html editor */

/* blocks */

#page-footer .moodle-actionmenu[data-enhanced].show .menu>li>a {
    color: #3d444b;
}

#page-footer .moodle-actionmenu[data-enhanced].show .menu>li>a:hover {
    color: #fff;
}

/* blocks */

/* find learning */

a.tw-catalogDetailsLink__option_btn:hover {
    text-decoration: none;
}

/* find learning */

/* homepage seach mobile */

@media(max-width: 767px) {
    .CCsearch form input[type="text"] {
        height: 40px;
        font-size: 16px;
        min-width: 150px;
        padding: 4px 4px;
        max-width: 150px;
    }
    .CCsearch input[type="submit"] {
        padding: 8px 30px;
        font-size: 16px;
    }
}

/* homepage seach mobile */

/* quiz button */

.path-mod-quiz .qnbutton.blocked, .path-mod-quiz .qnbutton.notyetanswered, .path-mod-quiz .qnbutton.requiresgrading, .path-mod-quiz .qnbutton.invalidanswer {
    color: #000;
}

/* quiz button */

/* course managment */

#course-category-listings .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-top: 0;
}

/* course managment */

#side-menu .custom_totaraNav_prim--list_item_hasChildren > .totaraNav_prim--list_item_link {
    display: flex;
    align-items: center;
}
#side-menu .custom_totaraNav_prim--list_item_hasChildren > .totaraNav_prim--list_item_link .arror-up {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.totaraNav_prim--list_item_link:focus {
    background: transparent;
}

/* sidebar blocks */

#side-menu .block .block-control-actions {
    background-color: transparent;
}

#side-menu .block .block-control-actions > ul > li {
    display: inline-block;
}

.block .block-title, #dockeditempanel .dockeditempanel_content h2 {
    box-shadow: none;
}

#side-menu .block {
    border-color: transparent;
}
/* sidebar blocks */

/* nav search */

/*.navsearch {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    width: 180px;
}

.navsearch form {
    display: flex;
    width: 180px;
}

.navsearch #fitem_id_toolbarsearchtext,
.navsearch #fitem_id_toolbarsearchbutton {
    margin-right: 0;
    width: 50%;
}

.navsearch .mform .fitem_actionbuttons>div.felement {
    padding-left: 0;
    margin-left: 0;
}

.navsearch #id_toolbarsearchbutton {
    width: 100%;
    margin-left: -4px;
    margin-bottom: 0;
}

.navsearch .mform .fitem .felement {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.navsearch form input[type="text"] {
    border-radius: 0;
    width: 100%;
    margin-bottom: 0;
}*/

/* nav search */

.navsearch {
    display: flex;
    align-items: center;
}

.navsearch input#id_toolbarsearchtext {
    /*color: #222;*/
    position:relative;
    z-index:5;
    transition: z-index 0.8s, width 0.5s, background 0.3s ease, border 0.3s;
    height: 45px;
    width: 0;
    margin: 0;
    padding: 5px 0 5px 40px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 0;
    border: none;
    font-size: 14px;
}
.navsearch input#id_toolbarsearchtext:focus {
    z-index:3;
    width: 180px;
    /*border: 1px solid #666;*/
    background-color: white;
    outline: none;
    cursor:auto;
    padding-right: 10px;
}

.navsearch input#id_toolbarsearchbutton {
    position: relative;
    z-index: 4;
    top:1px;
    left: 40px;
    width: 40px;
    height: 44px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer; 
    background: none;
    font-size: 0px;
}

.navsearch input#id_toolbarsearchtext::-webkit-search-cancel-button {
    cursor:pointer;
}

.navsearch-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navsearch-button .fa-search {
    position: absolute;
    z-index: 5;
    cursor:pointer;
}

.navsearch input#id_toolbarsearchtext:focus + .fa-search {
    left: 20px;
    z-index: 3;
}

.navsearch #toolbarsearch4 {
    display: flex;
}

.topl .masthead_logo--header_img,
.ml .masthead_logo--header_img,
.bottoml .masthead_logo--header_img {
    margin-left: 20px;
}

.topl .totaraNav_prim--list,
.ml .totaraNav_prim--list,
.bottoml .totaraNav_prim--list {
    margin-left: 35px;
}

.topl .totaraNav_prim--side,
.ml .totaraNav_prim--side,
.bottoml .totaraNav_prim--side {
    margin-left: 25px;
}

.totaraNav_prim--toggleNav {
    display: none;
}

@media(max-width: 991px) {
    #side-menu .custom_totaraNav_prim--list {
        display: block;
    }
    .ethinknav > .container-fluid {
        flex-direction: column;
        align-items: center;
    }
    .totaraNav_prim .masthead_logo--header_img {
        padding-left: 0;
    }
    .navsearch input#id_toolbarsearchbutton {
        width: auto;
    }
    /*.ethinknav .etflexcol {
        padding-top: 10px;
        padding-bottom: 10px;
    }*/
    .ethinknav .etflexcol > * {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .etflexcol > .navsearch {
        justify-content: center;
    }
    .totaraNav_prim--side .langmenu {
        margin: 0;
    }
    .totaraNav_prim--side .usermenu {
        margin: 0;
    }
    .totaraNav_prim--side {
        height: auto;
    }
    .totaraNav_prim .masthead_logo--header {
        margin: 0;
    }
    .masthead_logo {
        padding: 0;
        padding-bottom: 0;
    }
    /*.ethinknav .leftmenu, .ethinknav .centermenu, .ethinknav .rightmenu {
        display: none;
    }*/
}