

/*SPOTS*/
.marketingareatitle{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
    font-size: 40px;
}
.spots{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.tiles{
    display: flex;
    flex-wrap: wrap;
}
.spot{
    flex: 1 0 21%; 
    margin: 5px;
    text-align: center;
    list-style: none;
}
.spot img{
    max-width: 100%;
}
.tile-title{
    color: #444444;
    font-weight: bold;
    margin-bottom: 30px;
}
.tile-text{
    min-height: 40px;
}
.spot .btn{
    line-height: 2.5;
    margin-top: 30px;
}

@media screen and (min-width: 100px) and (max-width: 800px) {
    .spot{
        flex: 1 0 46%; 
    }
}


/*SEARCH*/

.CCsearch {
    padding: 20px;
    padding-top: 30px;
    text-align: center;

}
.CCsearch form{
    display: inline-block;
    margin: 0 auto;
}
.CCsearch #fitem_id_toolbarsearchtext:before,
.CCsearch #fitem_id_toolbarsearchtext:after,
.CCsearch #fitem_id_toolbarsearchbutton:before,
.CCsearch #fitem_id_toolbarsearchbutton:after{
    display: none;
}

.CCsearch #fitem_id_toolbarsearchtext{
    margin-right: 0;
    margin-left: 0;
    float: left;

}
.CCsearch #fitem_id_toolbarsearchbutton{
    margin-right: 0;
    margin-left: 0;
    float: left;
}
.CCsearch .mform .fitem .felement{
    padding: 0;
}
.CCsearch form input[type="text"]{
    height: 62px;
    padding: 6px 12px;
    font-size: 24px;
    line-height: 1;
    font-weight: 200;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    transition: none;
    width: auto;
    max-width: none;
    display: inline-block;
    margin: 0 0 5px 0;
    min-width: 342px;
}
.CCsearch .mform .fitem_actionbuttons>div.felement{
    padding-left: 0;
    margin-left: 0;
}
.CCsearch input[type="submit"]{
    margin-left: 0;
    border-radius: 0;
    font-size: 21px;
    font-weight: 300;
    padding: 15px 46px;
}
/* -- SCROLL TOP */

.scrollBtn {
    z-index: 10;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    font-size: 42px !important;
    text-align:center; 
    color: #e74c3c;
    text-decoration: none;
    display: none;
}
.scrollBtn:hover {
    text-decoration: none;
}

.masthead_logo{
    padding: 10px 0;
}
.totaraNav_prim .masthead_logo--header_img{
    min-height: 80px;
}

/*SETTINGS?*/
.totaraNav_prim--list_item{
    text-transform: uppercase;
}




button,
input.submit,
input[type="submit"],
input[type="reset"],
input[type="button"],
#id_buttonfield,
a.link-as-button,
a.btn {
    text-transform: uppercase;
    /*padding-top: 8px;*/
    /*line-height: 2.5;*/
}

/*LOADER*/

.site-loader {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 9999;
    text-align: center;
    padding-top: 48vh;
}


/*FLEX HEADER GRID*/
.etflex-grid {
    display: flex;
    justify-content: space-between;

}
.ethinkflex{
    flex-basis:25%;
}
.etflexcol {
    display: flex;
  /*flex: 1;*/
}
.totaraNav_prim .topc,
.totaraNav_prim .mc,
.totaraNav_prim .bottomc{
    flex:1 1 auto; /* Lets middle column shrink/grow to available width */
}

.totaraNav_prim .topl,
.totaraNav_prim .ml,
.totaraNav_prim .bottoml{
    text-align: left;
}
.totaraNav_prim .topc,
.totaraNav_prim .mc,
.totaraNav_prim .bottomc{
    text-align: center;
}
.totaraNav_prim .topr,
.totaraNav_prim .mr,
.totaraNav_prim .bottomr{
    text-align: right;
    justify-content: flex-end;
}
.totaraNav_prim .topl>*,
.totaraNav_prim .ml>*,
.totaraNav_prim .bottoml>*{
    margin-left: 0;
    }

.totaraNav_prim .topr>*,
.totaraNav_prim .mr>*,
.totaraNav_prim .bottomr>*{
    margin-right: 0;
    }

.totaraNav_prim .topc>*,
.totaraNav_prim .mc>*,
.totaraNav_prim .bottomc>*{
    margin: auto;
}
.ethinktop .etflexcol,
.ethinkbottom .etflexcol{
    flex-basis:32%;
}
.ethinktop .etflexcol.topr{
    justify-content: flex-end;
}
nav.totaraNav .etflexcol.fb100{
    flex-wrap: wrap;
    flex-basis:100%;
}

#footergridb>*,
#footergrid>*,
#flexgrid>*{
    padding: 0 10px; 
}
#bflexgrid,
#flexgridb,
#footergrid,
#flexgrid{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    margin-left: -10px; 
    margin-right: -10px;
    width: calc(100% - 20px);
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;     
    box-sizing: border-box; 
    margin: 0 auto;
}
#page-content>#flexgrid{
    margin-left: 10px; 
    margin-right: 10px;
}
.ethinkflex25{flex-basis:25%;}
.ethinkflex33{flex-basis:33.333%;}
.ethinkflex50{flex-basis:50%;}
.ethinkflex66{flex-basis:66.666%;}
.ethinkflex75{flex-basis:75%;}
.ethinkflex100{flex-basis:100%;}

.editing #footergrid>*{
    background: transparent;
    border: 2px solid transparent;
    outline: 1px dashed #fff;
    outline-offset: -5px;
    }
.editing #flexgrid>*{
    border: 2px solid #fff;
    outline: 1px dashed #ddd;
    outline-offset: -5px;
    }
#footergrid .block{
    background: transparent;
}

#footergrid .block .block-control-actions{
    background: transparent;
}

.mediaplugin, .mediaplugin video {
    width: auto;
}

@media(max-width: 991px) {
    .ethinkflex25{flex-basis:100%;}
    .ethinkflex33{flex-basis:100%;}
    .ethinkflex50{flex-basis:100%;}
    .ethinkflex66{flex-basis:100%;}
    .ethinkflex75{flex-basis:100%;}
    .etflexcol, .ethinktop .etflexcol, .ethinkbottom .etflexcol{
        flex-basis:100%;
        justify-content: center;
    }
    .totaraNav_prim--side {
        margin: 0;
        justify-content: center;
    }
    .ethinktop .etflexcol.topr,
    .totaraNav .ethinknav.ethinkmiddle {
        justify-content: center;
        flex-direction: column;
    }
    .totaraNav_prim .masthead_logo--header_img {
        min-height: 66px;
    }
    .totaraNav_prim .topr,
    .totaraNav_prim .mr,
    .totaraNav_prim .bottomr{
        text-align: center;
        justify-content: center;
    }
    .totaraNav_prim .topr>*, .totaraNav_prim .mr>*, .totaraNav_prim .bottomr>* {
        width: 100%;
        text-align: center;
    }
    .topr.etflexcol {
        padding: 20px 0;
    }
}


.totara_core__QuickAccess .totara_core__QuickAccess_group-title{
    font-weight: bold;
}

#course-category-listings .listing-actions>.moodle-actionmenu{
    display: inline-block !important;
}



/*FIXING Usermenuleft*/
.usermenuleft .totara_core__QuickAccess .totara_core__QuickAccess_menu--large{
        right: initial;
        left: 0;
}
/*FIXING Usermenuleft Animation*/
@media (max-width: 767px){
.collapsed.totara_core__QuickAccess .totara_core__QuickAccess_menu {
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
}

/* Fixed sidenav, full height */
.sidenav {
    width: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    /*overflow-x: hidden;*/
    padding-top: 10px;
    padding-left: 20px;
}

/*FIXING CUSTOM SPOTS */
@media (max-width: 992px){
    aside .section-html .section-html-container,
    aside .section-html .section-html-img{
        width: 100%;
    }
    aside .section-html{
        display: block;
    }
}

/*Hidding additional TOGGLE butto when menu is in the sidebar // avoiding core hack */
.ethink_sidebar .ethinknav .totaraNav_prim--toggleNav{
    display: none;
}

/*MOBILE MENU FIX*/
.totaraNav_prim--list_showMobile{
    top: 0;
}
.ethinkmiddle.ethinknav.fb100{
    display: block;
}

/*Special mmenu cases*/
.ethinkmiddle .rightmenu.empty,
.ethinkmiddle .leftmenu.empty,
.ethinkmiddle .centermenu.empty{
    flex-basis: 0%;
}
.ethinkmiddle .rightmenu.fb75,
.ethinkmiddle .leftmenu.fb75,
.ethinkmiddle .centermenu.fb75{
    flex-basis: 75%;
}



/*SIDEBAR BLOCKS*/
#side-menu .popover{
    max-width: 96%;
    margin: 0 auto;
    left: 2%;
    color: #000;
}
/*#side-menu .block .block-control-actions a,
#side-menu .block .block-control-actions,
#side-menu .popover a{
    color: #000;
}*/

#side-menu .block .header,
#side-menu .block{
    background: none;
    box-shadow:none;
}
#side-menu .popover input{
     max-width: 86%;
}

.navsearch + .navsearch {
    display: none;
}