//
// This file is part of Totara LMS
//
// Copyright (C) 2017 onwards Totara Learning Solutions LTD
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// @copyright 2017 onwards Totara Learning Solutions LTD
// @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
// @author    Kevin Hottinger <kevin.hottinger@totaralearning.com>
// @package   theme_ethink

// Font colours
@wizard-active-font-color: @gray-light;
@wizard-disabled-font-color: @gray-light;
@wizard-bar-font-color: @gray-light;

// Font size
@wizard-progress-bar-font-size: .857em;

// Item backgrounds
@wizard-bar-background: #f0f2f4;
@wizard-bar-background-active: #fff;
@wizard-bar-hover-background: @common-hover-bg;

// Item borders & shadow
@wizard-bar-border-color: @common-border-colour;
@wizard-active-bar-top-color: #4bc3c4;
@wizard-active-shadow-color: rgba(0, 0, 0, 0.2);

// Item padding
@wizard-bar-item-firstlink-padding-lft: 2.5em;
@wizard-bar-item-lastlink-padding-rgt: 2.5em;
@wizard-bar-item-link-padding-btm: 1.25em;
@wizard-bar-item-link-padding-lft: 2.5em;
@wizard-bar-item-link-padding-rgt: 1.25em;
@wizard-bar-item-link-padding-top: 1.25em;

// Arrows
@wizard-bar-arrow-color: #c8cfd6;
