//
// This file is part of Totara LMS
//
// Copyright (C) 2016 onwards Totara Learning Solutions LTD
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// @copyright 2016 onwards Totara Learning Solutions LTD
// @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
// @author    Sam Hemelryk <sam.hemelryk@totaralearning.com>
// @package   theme_ethink

#page-footer .performanceinfo .cachesused {
    @cache-stat-bg: lighten(@gray-base, 3%); // #f7f7f7;
    @cache-stat-border: lighten(@gray-base, 6.5%); // #eee;
    @cache-stat-heading-text: lighten(@gray-base, 93.5%); // #eee;;
}