//
// This file is part of Totara LMS
//
// Copyright (C) 2017 onwards Totara Learning Solutions LTD
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <ht    tp://www.gnu.org/licenses/>.
//
// @copyright 2017 onwards Totara Learning Solutions LTD
// @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
// @author    Joby Harding <joby.harding@totaralearning.com>
// @package   theme_ethink

// Note: theme_roots is automatically added to
// the less compiler import search path therefore
// any files here which are not found locally are
// then looked for under theme/roots/less.

// Reset close styles so we can use our theme-specific
// alert-close class and keep specificity flat.
.alert-dismissable .close {
    top: auto;
    right: auto;
    margin-bottom: 0;
    opacity: 1;
    text-shadow: none;
}
