//
// This file is part of Totara LMS
//
// Copyright (C) 2016 onwards Totara Learning Solutions LTD
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <ht    tp://www.gnu.org/licenses/>.
//
// @copyright 2016 onwards Totara Learning Solutions LTD
// @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
// @author    Joby Harding <joby.harding@totaralearning.com>
// @package   theme_ethink
//
// @deprecated since 12.0

.totara-navbar-container {
    background-color: @totara-menu-bg;
    &.totara-navbar-container-with-subnav {
        box-shadow: inset 0 -((@totara-menu-padding-vertical * 2) + @line-height-computed) 0 @totara-menu-dropdown-bg;
    }
}

.totara-navbar {
    background-color: transparent;
    .navbar {
        // Hack to fix IE display bug specific to ethink Totara Menu.
        min-height: 0;
    }
}

.totara-menu-nav-item {
    font-weight: normal;
    &.selected {
        .totara-menu-nav-item {
            &.selected {
                .totara-menu-nav-item-link {
                    color: #fff;
                    background-color: @totara-menu-link-active-bg;
                    box-shadow: inset @ethink-border-thick 0 @brand-primary;
                }
            }
        }
    }
}

.totara-menu-nav-item-link {
    position: relative;
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.totara-menu-nav-list .totara-menu-nav-item .totara-menu-nav-item-link:focus {
    background: transparent;
}

.totara-menu-nav-item .totara-menu-nav-item .totara-menu-nav-item-link:focus {
    background-color: transparent;
}

// Subnav is an extension of the Totara Menu in ethink.
.totara-menu-subnav {
    clear: both;
    display: none; // Should not display on handheld devices.
    background-color: @totara-menu-dropdown-bg;
    margin: 0 (floor(@grid-gutter-width / 2) * -1); // Boostrap core uses this type of minus margin approach.
}

.totara-menu-subnav-list {
    margin-bottom: 0;
    margin-left: floor(@grid-gutter-width / 2);
}

.totara-menu-subnav-item {
    float: left;
    list-style-type: none;
    &.selected .totara-menu-subnav-item-link {
        box-shadow: inset 0 -@ethink-border-thick #b6bcc2;
    }
}

.totara-menu-subnav-item-link {
    display: block;
    padding: @totara-menu-padding-vertical @totara-menu-padding-horizontal;
    color: @text-color; // Subnav is custom in ethink (no @totara-menu-subnav-color variable in roots).
    text-decoration: none;
    background-color: transparent;
    &:link,
    &:visited {
        text-decoration: none;
    }
    &:hover,
    &:active {
        background-color: @totara-menu-dropdown-hover-bg;
        text-decoration: none;
    }
}

.totara-menu-arrow-up {
    display: none; // Don't display at all for small devices.
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 200; // Display above any dropdown menus so box-shadow doesn't overlap.
    &::after {
        display: block;
        width: 0;
        height: 0;
        margin: auto;
        content: '';
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 7px solid @totara-menu-dropdown-bg;
    }
}

.totara-menu > .totara-menu-nav > .totara-menu-nav-list > .totara-menu-nav-item.selected > .totara-menu-nav-item-link {
    box-shadow: inset @ethink-border-thick 0 @brand-primary;
    background-color: @totara-menu-link-active-bg;
}

@media (min-width: @grid-float-breakpoint) {

    .totara-menu-nav-item {
        &.child-selected .totara-menu-arrow-up,
        &:hover .totara-menu-arrow-up {
            display: block;
        }
    }

    .totara-menu-nav-item-link {
        border-bottom-width: 0;
    }

    .totara-menu-subnav {
        display: block;
    }

    .totara-menu-nav-list {
        .totara-menu-nav-list {
            box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
        }
    }

    .totara-menu-nav {
        > .totara-menu-nav-list {
            > .totara-menu-nav-item {
                &:first-child {
                    .totara-menu-nav-item-link {
                        border-top-width: 0;
                    }
                }
            }
        }
    }

    .totara-menu-nav-item {
        .totara-menu-nav-item {
            .totara-menu-nav-item-link {
                background-color: #f0f2f4;
                color: initial;
            }
        }
        &.selected {
            .totara-menu-nav-item {
                &.selected {
                    .totara-menu-nav-item-link {
                        box-shadow: none;
                        background-color: @totara-menu-dropdown-bg;
                        &:hover {
                            background-color: @totara-menu-dropdown-hover-bg;
                        }
                    }
                }
            }
            > .totara-menu-nav-item-link {
                box-shadow: inset 0 -@ethink-border-thick @brand-primary;
            }
        }
    }

    .totara-menu {
        > .totara-menu-nav {
            > .totara-menu-nav-list {
                > .totara-menu-nav-item {
                    &.selected {
                        > .totara-menu-nav-item-link {
                            box-shadow: inset 0 -@ethink-border-thick @brand-primary;
                        }
                        .totara-menu-nav-list {
                            display: none;
                        }
                    }
                    &.child-selected {
                        > .totara-menu-nav-item-link {
                            box-shadow: none;
                        }
                        &:hover .totara-menu-nav-list {
                            display: none;
                        }
                    }
                    &:hover .totara-menu-nav-list {
                        display: block;
                    }
                }
            }
        }
        .totara-menu-nav-item {
            .totara-menu-nav-item {
                .totara-menu-nav-item-link {
                    &:hover,
                    &:focus {
                        &:extend(.totara-menu-nav-item.selected .totara-menu-nav-item.selected .totara-menu-nav-item-link:hover);
                    }
                    &:link,
                    &:visited,
                    &:hover,
                    &:focus,
                    &:active {
                        color: @text-color; // Default Roots Totara menu has same colour for all links so no specific variable.
                    }
                }
            }
        }
    }

}
