//
// This file is part of Totara LMS
//
// Copyright (C) 2016 onwards Totara Learning Solutions LTD
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <ht    tp://www.gnu.org/licenses/>.
//
// @copyright 2016 onwards Totara Learning Solutions LTD
// @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
// @author    Joby Harding <joby.harding@totaralearning.com>
// @package   theme_ethink
//
// Additional modules and Totara-specific variable overrides.

@totara-menu-bg: @gray-dark;
@totara-menu-border-width: 0;
@totara-menu-dropdown-bg: #f0f2f4;
@totara-menu-dropdown-hover-bg: #dde1e5;
@totara-menu-padding-vertical: ceil(@line-height-computed / 2);
@totara-menu-link-color: #fff;
@totara-menu-link-hover-color: @totara-menu-link-color;
@totara-menu-link-active-color: @totara-menu-link-color;
@totara-menu-link-hover-bg: @gray-darker;
@totara-menu-link-active-bg: @totara-menu-link-hover-bg;