//
// This file is part of Totara LMS
//
// Copyright (C) 2016 onwards Totara Learning Solutions LTD
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <ht    tp://www.gnu.org/licenses/>.
//
// @copyright 2016 onwards Totara Learning Solutions LTD
// @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
// @author    Joby Harding <joby.harding@totaralearning.com>
// @package   theme_ethink
//
// This file is part of the theme_ethink Bootswatch and contains architectural
// overrides to Bootstrap 3 for the Totara ethink theme. Variable overrides
// should go in the accompanying variables.less file.
//
// Note that the theme_ethink Bootswatch extends the theme_roots Bootswatch.
//
// For more on Bootswatches see https://bootswatch.com
//

//
// Navbar.
//
.navbar {
    margin-bottom: 0;
}

.navbar-site {
    margin-bottom: 0;
}

.navbar {
    border: none;
}

.breadcrumb {
    background: transparent;
}

//
// Nav.
//
.nav {
    > li {
        > a {
            font-weight: 400;
        }
    }
}

//
// Nav-tabs.
//
.nav-tabs {
    text-transform: uppercase;
    font-size: ceil(@font-size-base * 0.8);
    > li {
        // Actual tabs (as links)
        > a {
            margin-right: 0;
            border-radius: 0;
            color: @nav-tabs-link-color;
            border-color: @nav-tabs-border-color;
            border-right-color: transparent;
            background-color: lighten(@nav-tabs-link-bg, 5%);
            &:hover {
                border-color: @nav-tabs-border-color transparent @nav-tabs-border-color @nav-tabs-border-color;
            }
        }

        &:last-child > a {
            border-right-color: @nav-tabs-border-color;
        }

        &.active {
            + li > a {
                box-shadow: inset 3px 0 rgba(0, 0, 0, 0.03);
                border-left-width: 0;
            }
        }

        // Active state, and its :hover to override normal :hover
        &.active > a {
            background-color: #fff;
            border-right-color: @nav-tabs-border-color;
            border-left-color: @nav-tabs-border-color;
            &,
            &:hover,
            &:focus {
                color: @nav-tabs-link-color;
                background-color: @nav-tabs-active-link-hover-bg;
                border-top-color: lighten(@brand-primary, 10%);
                box-shadow:
                    0 -2px lighten(@brand-primary, 10%),
                    -3px 0 rgba(0, 0, 0, 0.03);
            }
        }
        &.active:first-child > a {
            &,
            &:hover,
            &:focus {
                box-shadow: 0 -2px lighten(@brand-primary, 10%);
            }
        }
        &.disabled {
            > a {
                &,
                &:hover,
                &:focus {
                    // Colours used here are a one-off treatment
                    // specifically for ethink nav-tabs with .disabled
                    // therefore we do not add variables for them.
                    color: #949494; // AA compliant on white background.
                    background-color: #fff;
                    border-top-color: #e5e9ec;
                }
            }
            & + .disabled,
            &:first-child {
                > a {
                    border-left-color: #e5e9ec;
                }
            }
            &:last-child {
                > a {
                    border-right-color: #e5e9ec;
                }
            }
        }
    }
}

//
// Alerts.
//
.alert {
    border-radius: @alert-border-radius 0 @alert-border-radius 0;
    border-width: 2px 2px 2px 20px;
}

// Extends the Bootstrap 3 alert component.
.alert-with-icon {
    padding: 0;
    border-width: 2px;
}

.alert-icon,
.alert-message {
    display: table-cell;
    padding: @alert-padding;
}

.alert-icon {
    vertical-align: middle;
    padding: @alert-padding (@alert-padding * 0.6);
    color: #fff;
    .alert-info & {
        background: @brand-info;
    }
    .alert-success & {
        background: @brand-success;
    }
    .alert-warning & {
        background: @brand-warning;
    }
    .alert-danger & {
        background: @brand-danger;
    }
}

.alert-close {
    border-radius: 0 0 0 @alert-border-radius;
    & .flex-icon {
        display: table-cell;
        // Unfortunately there is no variable for the fixed
        // width size of font totara fixed width icons. It
        // is 1.3em and this needs to be square.
        /* stylelint-disable-next-line max-line-length */
        padding: @padding-small-vertical @padding-small-vertical floor((@padding-small-vertical * 1.5)) ceil((@padding-small-vertical * 1.5));
        height: 1.3em;
        color: #fff;
    }

    .alert-info & {
        background: @brand-info;
        &:active:focus,
        &:active:hover {
            // Same as .btn active state.
            background-color: darken(@btn-info-bg, 10%);
        }
    }
    .alert-success & {
        background: @brand-success;
        &:active:focus,
        &:active:hover {
            // Same as .btn active state.
            background-color: darken(@btn-success-bg, 10%);
        }
    }
    .alert-warning & {
        background: @brand-warning;
        &:active:focus,
        &:active:hover {
            // Same as .btn active state.
            background-color: darken(@btn-warning-bg, 10%);
        }
    }
    .alert-danger & {
        background: @brand-danger;
        &:active:focus,
        &:active:hover {
            // Same as .btn active state.
            background-color: darken(@btn-danger-bg, 10%);
        }
    }
}

//
// Type.
//
ul ul {
    list-style-type: disc;
}

blockquote {
    border-left-width: 1px;
    color: @gray-light;
    cite {
        color: @text-color;
        &::before {
            content: '\2013\00a0\00a0';
        }
    }
}

//
// Code.
//
pre {
    border-width: 0;
    padding: 0;
}

// Apply the default Bootstrap <pre> styles to block code
// and make some adjustments as we have overridden @pre-bg
// to white.
pre code {
    display: block;
    padding: ((@line-height-computed - 1) / 2);
    margin: 0;
    font-size: (@font-size-base - 1); // 14px to 13px
    line-height: @line-height-base;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid @pre-border-color;
    border-radius: @border-radius-base;
}

//
// Badges.
//
.badge-primary {
    background-color: darken(@brand-primary, 10%);
}