<ul class="totaraNav_prim--list totaraNav_prim--list_hideMobile" role="menubar" data-tw-totaraNav-list="">
    <li class="totaraNav_prim--list_item">
        <a href="#" class="totaraNav_prim--list_close" data-tw-totaranav-list-close="">
            {{{close_menu_icon}}}
        </a>
    </li>{{!
  }}{{#menuitems}}{{!
  }}<li id="{{class_name}}"
        class="totaraNav_prim--list_item
        {{#haschildren}} totaraNav_prim--list_item_hasChildren{{/haschildren}}
        {{^haschildren}}{{#external_link}} totaraNav_prim--list_item_externalLink{{/external_link}}{{/haschildren}}
        {{#class_isselected}} totaraNav_prim--list_item_selected{{/class_isselected}}"
         data-tw-totaraNav-item=""
        data-tw-totaraNav-topLevelItem=""
        {{#haschildren}} data-tw-totaraNav-hasChildren=""{{/haschildren}}>
        <a class="totaraNav_prim--list_item_link" {{#target}}target="{{.}}" rel="noopener"{{/target}}
            {{^haschildren}} href="{{url}}"{{/haschildren}}
            {{#haschildren}} href="#" aria-haspopup="true" aria-expanded="false"{{/haschildren}}>
            <div class="totaraNav--expand_indent" {{#haschildren}}data-tw-totaraNav-chevron=""{{/haschildren}}></div>{{!
          }}<div class="totaraNav_prim--list_item_label">
                {{{linktext}}}
                {{^haschildren}}{{#external_link}}
                    {{{external_link_icon}}}
                {{/external_link}}{{/haschildren}}
            </div>
        </a>
        {{#haschildren}}
            {{> totara_core/nav_expand }}
        {{/haschildren}}
    </li>{{!
  }}{{/menuitems}}
</ul>