{{!
   This file is part of Totara LMS

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_core/nav_prim

    Creates the totara primary nav.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-tw-totaraNav-list: Navigation list
    * data-tw-totaranav-list-close: Close icon
    * data-tw-totaraNav-item: List item
    * data-tw-totaraNav-hasChildren: Has sublist
    * data-tw-totaraNav-chevron: Dynamically adds chevron icon
    * data-tw-totaraNav-topLevelItem: Top level item

    Context variables required for this template:
    * [parent] -> masthead_lang: Language data
    * [parent] -> masthead_logo: masthead_logo data
    * [parent] -> masthead_plugins: Plugins data (alert/messages)
    * [parent] -> masthead_toggle: mobile toggle button data
    * [parent] -> masthead_usermenu: Usermenu data
    * menuitems -> list of items
    * menuitems -> haschildren: Has sub list items
    * menuitems -> class_name: Identifier for this node
    * menuitems -> class_isfirst: First node
    * menuitems -> class_islast: Last node
    * menuitems -> class_isselected: Is current section or parent of current section
    * menuitems -> url: section URL
    * menuitems -> target: _self or _blank
    * menuitems -> homeicon: Home icon, available when first item is home
    * menuitems -> linktext: Section text, may contain icon
    * menuitems -> external_link -> Bool, has external link
    * menuitems -> external_link -> external_link_icon: New window icon

}}
        {{#masthead_menu}}
            {{> theme_ethink/menu }}
        {{/masthead_menu}}





