{{!
   This file is part of Totara LMS

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_core/nav_search

    Creates the totara primary nav Search.

}}

<section class="navsearch">
  <form autocomplete="off" action="{{searchurl}}" method="get" accept-charset="utf-8" id="toolbarsearch4" class="mform">
    <div style="display: none;"><input name="skhidden" type="hidden" value="">
      
    </div>
    <input name="toolbarsearchbutton" value="Search" type="submit" id="id_toolbarsearchbutton">
    <div class="navsearch-button">
      <input name="{{searchparameter}}" type="text" value="" id="id_toolbarsearchtext" placeholder="">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </form>
</section>





