{{!
   This file is part of Totara LMS

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_core/nav_prim

    Creates the totara primary nav.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-tw-totaraNav-list: Navigation list
    * data-tw-totaranav-list-close: Close icon
    * data-tw-totaraNav-item: List item
    * data-tw-totaraNav-hasChildren: Has sublist
    * data-tw-totaraNav-chevron: Dynamically adds chevron icon
    * data-tw-totaraNav-topLevelItem: Top level item

    Context variables required for this template:
    * [parent] -> masthead_lang: Language data
    * [parent] -> masthead_logo: masthead_logo data
    * [parent] -> masthead_plugins: Plugins data (alert/messages)
    * [parent] -> masthead_toggle: mobile toggle button data
    * [parent] -> masthead_usermenu: Usermenu data
    * menuitems -> list of items
    * menuitems -> haschildren: Has sub list items
    * menuitems -> class_name: Identifier for this node
    * menuitems -> class_isfirst: First node
    * menuitems -> class_islast: Last node
    * menuitems -> class_isselected: Is current section or parent of current section
    * menuitems -> url: section URL
    * menuitems -> target: _self or _blank
    * menuitems -> homeicon: Home icon, available when first item is home
    * menuitems -> linktext: Section text, may contain icon
    * menuitems -> external_link -> Bool, has external link
    * menuitems -> external_link -> external_link_icon: New window icon

}}



<nav class="totaraNav_prim">
    <div class="container-fluid ethinktop ethinknav {{masthead_usermenu_custom_classes }}"><!-- TOP -->
        <div class="container-fluid">
        {{! Logo here }}
        <div class="topl etflexcol {{masthead_usermenu_top_left_custom_classes}}">
        {{#masthead_logotl}}{{> totara_core/masthead_logo }}{{/masthead_logotl}}
        {{#masthead_searchtl}}{{> theme_ethink/nav_search }}{{/masthead_searchtl}}
        {{#masthead_usermenutl}}
            {{> theme_ethink/avatarplugins}}
        {{/masthead_usermenutl}}
        </div>
        <div class="topc etflexcol {{masthead_usermenu_top_center_custom_classes}}">
        {{#masthead_logotc}}{{> totara_core/masthead_logo }}{{/masthead_logotc}}
        {{#masthead_searchtc}}{{> theme_ethink/nav_search }}{{/masthead_searchtc}}
        {{#masthead_usermenutc}}
            {{> theme_ethink/avatarplugins}}
        {{/masthead_usermenutc}}

        </div>
        <div class="topr etflexcol {{masthead_usermenu_top_right_custom_classes}}">
        {{#masthead_logotr}}{{> totara_core/masthead_logo }}{{/masthead_logotr}}
        {{#masthead_searchtr}}{{> theme_ethink/nav_search }}{{/masthead_searchtr}}
        {{#masthead_usermenutr}}
            {{> theme_ethink/avatarplugins}}
        {{/masthead_usermenutr}}
        </div>
        </div>

    </div><!-- TOP -->


    <div class="container-fluid ethinkmiddle ethinknav {{#masthead_menu_inline_class}}{{masthead_menu_inline_class }}{{/masthead_menu_inline_class}}"> <!-- MIDDLE -->
        <div class="container-fluid">
        <div class="ml etflexcol leftmenu {{#masthead_menu_inline_class}}{{masthead_menu_inline_class }}{{/masthead_menu_inline_class}} {{#masthead_menul}}hasmenul{{/masthead_menul}} {{masthead_usermenu_middle_left_custom_classes}}">
        {{! Mobile toggle button }}
        {{#masthead_toggle}}{{> totara_core/nav_toggle }}{{/masthead_toggle}}

            {{#masthead_searchml}}{{> theme_ethink/nav_search }}{{/masthead_searchml}}
            {{! Logo here }}
            {{#masthead_logoml}}{{> totara_core/masthead_logo }}{{/masthead_logoml}}

            {{#masthead_usermenuml}}
                {{> theme_ethink/avatarplugins}}
            {{/masthead_usermenuml}}

            {{#masthead_menul}}
            {{> theme_ethink/menu }}
            <style>
            .ethinkmiddle .leftmenu{
                flex-basis:48%;
            }
            .ethinkmiddle .centermenu,
            .ethinkmiddle .rightmenu{
                flex-basis:25%;
            }
            </style>
            {{/masthead_menul}}

        </div>


        <div class="mc etflexcol centermenu {{#masthead_menu_inline_class}}{{masthead_menu_inline_class }}{{/masthead_menu_inline_class}} {{#masthead_menuc}}hasmenuc{{/masthead_menuc}} {{masthead_usermenu_middle_center_custom_classes}}">

            {{! Logo here }}
            {{#masthead_logomc}}{{> totara_core/masthead_logo }}{{/masthead_logomc}}
            {{#masthead_searchmc}}{{> theme_ethink/nav_search }}{{/masthead_searchmc}}

            {{#masthead_usermenumc}}
                {{> theme_ethink/avatarplugins}}
            {{/masthead_usermenumc}}

            {{#masthead_menuc}}
                {{> theme_ethink/menu }}

                <style>
                .ethinkmiddle .centermenu{
                    flex-basis:48%;
                }
                .ethinkmiddle .rightmenu,
                .ethinkmiddle .leftmenu{
                    flex-basis:25%;
                }
                </style>
            {{/masthead_menuc}}

        </div>



        <div class="mr etflexcol rightmenu {{#masthead_menu_inline_class}}{{masthead_menu_inline_class }}{{/masthead_menu_inline_class}} {{#masthead_menur}}hasmenur{{/masthead_menur}} {{masthead_usermenu_middle_right_custom_classes}}">

            {{! Logo here }}
            {{#masthead_logomr}}{{> totara_core/masthead_logo }}{{/masthead_logomr}}
            {{#masthead_searchmr}}{{> theme_ethink/nav_search }}{{/masthead_searchmr}}
            
            {{#masthead_usermenumr}}
                {{> theme_ethink/avatarplugins}}
            {{/masthead_usermenumr}}

            {{#masthead_menur}}
                {{> theme_ethink/menu }}
                <style>
                .ethinkmiddle .rightmenu{
                    flex-basis:48%;
                }
                .ethinkmiddle .centermenu,
                .ethinkmiddle .leftmenu{
                    flex-basis:25%;
                }
                </style>
            {{/masthead_menur}}

        </div>
        </div>

    </div> <!-- MIDDLE -->

    <div class="container-fluid ethinkbottom ethinknav"><!-- BOTTOM -->
        <div class="container-fluid">
        {{! Logo here }}
        <div class="bottoml etflexcol {{masthead_usermenu_bottom_left_custom_classes}}">
        {{#masthead_logobl}}{{> totara_core/masthead_logo }}{{/masthead_logobl}}
        {{#masthead_searchbl}}{{> theme_ethink/nav_search }}{{/masthead_searchbl}}

        {{#masthead_usermenubl}}
            {{> theme_ethink/avatarplugins}}
        {{/masthead_usermenubl}}
        </div>

        <div class="bottomc etflexcol {{masthead_usermenu_bottom_center_custom_classes}}">
        {{#masthead_searchbc}}{{> theme_ethink/nav_search }}{{/masthead_searchbc}}
        {{#masthead_usermenubc}}
            {{> theme_ethink/avatarplugins}}
        {{/masthead_usermenubc}}

        {{#masthead_logobc}}{{> totara_core/masthead_logo }}{{/masthead_logobc}}
        </div>
        
        <div class="bottomr etflexcol {{masthead_usermenu_bottom_right_custom_classes}}">
        {{#masthead_searchbr}}{{> theme_ethink/nav_search }}{{/masthead_searchbr}}
        {{#masthead_usermenubr}}
            {{> theme_ethink/avatarplugins}}
        {{/masthead_usermenubr}}

        {{#masthead_logobr}}{{> totara_core/masthead_logo }}{{/masthead_logobr}}
        </div>
        </div>
    </div>
</nav>

{{#masthead_usermenuhidden}}
<div class='hidden'>
            {{> theme_ethink/avatarplugins}}
</div>
{{/masthead_usermenuhidden}}
